<configuration>
    
    <!-- 使用自定义的ConditionalPatternLayout -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="org.est.ConditionalPatternLayout">
                <!-- 设置一个默认的pattern，即使我们重写了doLayout方法 -->
                <pattern>%d{HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
            </layout>
        </encoder>
    </appender>
    
    <!-- 根配置 -->
    <root level="INFO">
        <appender-ref ref="CONSOLE" />
    </root>
    
    <!-- 可以针对特定包设置DEBUG级别 -->
    <logger name="org.est" level="INFO" />
    
</configuration>
